body {
	height: 100%;
	background-color: #06342D;
	color: #EEB04D;
	text-align: center;
	font-family: 'Saira Stencil One', cursive;
	/* font-family: 'Modak', cursive; */
	font-size: large;
	/* font-size: calc(100% + 1vw + 1vh); */
	display: block;
}

#stageDisplay {
	background: #FFFFFE;
}

#stageOver {
	margin-top: 5px;
}

h3:hover,
#startOver {
	border: 2px solid #F26841;
	background: #1D1B40;
	margin: 10px auto;
}

.text-responsive {
	font-size: calc(100% + 1vw + 1vh);
}

@media (max-width: 709px) {
	.navbar {
		display: block;
		align-content: center;
		text-align: center;
		margin: auto;
	}
}